* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    /* Content */
    --content-primary: #FFFFFF;
    --content-secondary: #C7C9CC;
    --content-tertiary: #D9D9D9;
    --content-brand: #C58DE7;
    --color-inverse: #030203;
    /* Backdorund */
    --background-primary: #020202;
    --background-secondary: #111012;
    --background-tertiary: #24222E;
    --background-brand: #C58DE7;
    --background-gray:#3D3D3D;
    /* Accent */
    --accent-pink: #D586E0;
    --accent-blue: #91A1FA;
    --accent-green: #77C0AF;
    --accent-lime: #D1DC97;
    --accent-red: #E9A9B3;
    /* Gradient */
    --gradient-border: linear-gradient(#77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%);
    --gradient-background: linear-gradient(#D586E0 0%, #91A1FA 98.93%);
    --gradient-content: linear-gradient(90deg,#C7C9CC 0%, #3D3D3D 150%);

    --font-sora: "Sora", sans-serif;
    --display-large: 800 72px/8.125rem var(--font-sora);
    --display-medium: 800 40px/8.125rem var(--font-sora);
    --display-small: 700 32px/8.125rem var(--font-sora);

    --font-roboto-mono: "Roboto Mono", monospace; 
    --overline: 700 16px/9.375rem var(--font-roboto-mono);

    --font-roboto-flex: "Roboto Flex", sans-serif;
    --paragraph-large: 500 16px/9.375rem var(--font-roboto-flex);
    --paragraph-medium: 500 14px/9.375rem var(--font-roboto-flex);
    --paragraph--small: 500 12px/9.375rem var(--font-roboto-flex);
    --label-medium: 700 20px/9.375rem var(--font-roboto-flex);
    --label-small: 700 16px/9.375rem var(--font-roboto-flex);

}
body {
    background-color: var(--background-primary);
    color: white;
    line-height: 1.5;
}
header {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 20px 40px;
}
header img {
    width: 38px;
}
.gradiente {
    background: var(--gradient-content);
    -webkit-background-clip: text; /* recorta o gradiente no texto */
    -webkit-text-fill-color: transparent; /* deixa o texto transparente */
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 60px 80px;
}
#info span {
    font: var(--overline);
}
h1 {
    font: var(--display-large);
}